body {
  margin: 0;
  padding: 0;
}

.Ruby {
  margin: 1em;
  font-family: monospace;
}

.Ruby .Ast {
}
.Ruby .Ast.Begin {
}
.Ruby .Ast.Constant {
  color: purple;
}
.Ruby .Ast.Module .body {
  margin-left: 1em;
}
.Ruby .Ast.Class .body {
  margin-left: 1em;
}
.Ruby .Ast.Call {
}
.Ruby .Ast.Symbol {
  color: blue;
}
.Ruby .Ast.String {
  color: green;
}
.Ruby .Ast.Begin {
}

.Ruby .keyword {
  color: rgba(255, 50, 100, 0.75);
}
