.Ruby {
  margin: 1em;
  font-family: monospace;
}

.Ruby .Ast {
}
.Ruby .Ast.Begin > * {
  display: block;
}
.Ruby .Ast.Constant {
  color: purple;
}
.Ruby .Ast.Module .body {
  margin-left: 1em;
}
.Ruby .Ast.Class .body {
  margin-left: 1em;
  display: block;
}
.Ruby .Ast.Module {
}
.Ruby .Ast.Class {
}
.Ruby .Ast.Call {
}
.Ruby .Ast.Symbol {
  color: blue;
}
.Ruby .Ast.String {
  color: green;
}
.Ruby .Ast.Def {
  Padding-top: 1em;
  display: block;
}
.Ruby .Ast.Def .body {
  margin-left: 1em;
  display: block;
}

.Ruby .Ast.Assign {
}
.Ruby .Ast.InstanceVar {
  color: #08F;
}
.Ruby .Ast.LocalVar {
}

.Ruby .displayBlock {
  display: block;
}

.Ruby .keyword {
  color: rgba(255, 50, 100, 0.75);
}
.Ruby .keyword::after {
  content: " "
}
