.Ruby {
  margin:           1em;
  font-family:      monospace;
  display:          inline-block;
  padding:          1em;
  background-color: #FEE;
}
.Ruby h2 {
  margin:      0;
  font-family: sans-serif;
  color:       rgba(0, 0, 0, 0.2);
}

.Ruby .Ast {
}
.Ruby .Ast.Begin > * {
  display: block;
}
.Ruby .Ast.Constant {
  color: purple;
}
.Ruby .Ast.Module .body {
  margin-left: 1em;
}
.Ruby .Ast.Class .body {
  margin-left: 1em;
  display: block;
}
.Ruby .Ast.Module {
}
.Ruby .Ast.Class {
}
.Ruby .Ast.Call {
}
.Ruby .Ast.Symbol {
  color: blue;
}
.Ruby .Ast.String {
  color: green;
}
.Ruby .Ast.Def {
  margin-top: 1em;
  display: block;
}
.Ruby .Ast.Def .body {
  margin-left: 1em;
  display: block;
}

.Ruby .Ast.Assign {
}
.Ruby .Ast.InstanceVar {
  color: #08F;
}
.Ruby .Ast.LocalVar {
}

.Ruby .displayBlock {
  display: block;
}

.Ruby .keyword {
  color: rgba(255, 50, 100, 0.75);
}
.Ruby .keyword::after {
  content: " "
}
.Ruby .selected {
  background-color: white;
  outline: 2px solid #ABF;
}

.Ruby .EagerCursor {
  width: 0.5em;
  height: 1em;
  display: inline-block;
}
.Ruby .EagerCursor::before {
  /* content: " >"; */
}
